<html lang="en">
    <body>
        <p>Hello {{ name }},</p>
        <br />
        <p>Welcome to Primaflora,</p>
        <p>
            This is your activation code:
            <h1>{{ code }}</h1>
            You can activate your accound by passing this code to Profile
            Activate Account
        </p>
        <p>
            <small>This code will expire in 10 minutes.</small>
        </p>
        <br />
        <p>Best of luck,</p>
        <p>Primaflora Team</p>
    </body>
</html>;
